/* Hero Section */
@keyframes compactImage-1{
    0%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=1') no-repeat;
        background-size: cover; 
    }
  
    50%{
        transform: translateX(200%);
        background: url('https://picsum.photos/200/300?random=2') no-repeat;
        background-size: cover;
    }
  

    100%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=2') no-repeat;
        background-size: cover;
    }
    
}

@keyframes compactImage-1-reverse{
    0%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=2') no-repeat;
        background-size: cover; 
    }
    100%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=3') no-repeat;
        background-size: cover; 
    }
   
}

@keyframes compactImage-2{
    0%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=3') no-repeat;
        background-size: cover;
    }
    50%{
        transform: translateX(-200%);
        background: url('https://picsum.photos/200/300?random=4') no-repeat;
        background-size: cover;  
    }
    100%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=4') no-repeat;
        background-size: cover;  
    }
}
@keyframes animate-third{
    0%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=4') no-repeat;
        background-size: cover; 
    }
  
    50%{
        transform: translateX(200%);
        background: url('https://picsum.photos/200/300?random=5') no-repeat;
        background-size: cover;
    }
  

    100%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=5') no-repeat;
        background-size: cover;
    }
}
@keyframes animate-fifth{
    0%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=6') no-repeat;
        background-size: cover; 
    }
  
    50%{
        transform: translateX(-200%);
        background: url('https://picsum.photos/200/300?random=7') no-repeat;
        background-size: cover;
    }
  

    100%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=7') no-repeat;
        background-size: cover;
    }
}

@keyframes animate-sixth{
    0%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=7') no-repeat;
        background-size: cover; 
    }
  
    50%{
        transform: translateX(200%);
        background: url('https://picsum.photos/200/300?random=8') no-repeat;
        background-size: cover;
    }
  

    100%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=8') no-repeat;
        background-size: cover;
    }
}
@keyframes animate-eigth{
    0%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=9') no-repeat;
        background-size: cover; 
    }
  
    50%{
        transform: translateX(-200%);
        background: url('https://picsum.photos/200/300?random=10') no-repeat;
        background-size: cover;
    }
  

    100%{
        transform: translateX(0%);
        background: url('https://picsum.photos/200/300?random=10') no-repeat;
        background-size: cover;
    }
}

.animate-compactImage-2{
    animation: compactImage-2 8s infinite reverse;
}
.animate-compactImage-1{
    animation: compactImage-1-reverse 10s infinite ;
}
.animate-compactImage-1-reverse{
    animation: compactImage-1 8s  infinite reverse;
}
.animate-compactImage-4{
    animation: animate-third 8s  infinite reverse;
}
.animate-compactImage-5{
    animation: animate-fifth 8s  infinite reverse;
}
.animate-compactImage-6{
    animation: animate-sixth 8s infinite reverse;
}
.animate-compactImage-8{
    animation: animate-eigth 8s infinite reverse;

}
