.typewriter{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    /* letter-spacing: ; */
    animation: 
    typing 3.5s steps(50, end) forwards,
    blink-caret .5s step-end backwards;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


.animateRight{
    animation: slideRight 10s forwards infinite 0.5s;
}

.animateLeft {
    animation: slideLeft 10s forwards infinite 0.5s;
}

@keyframes slideRight {
    0%{
        left: 6%;
        top: 23.5%;
        background-color: rgb(229 231 235 / var(--tw-text-opacity, 1));
    }
  25%{
    left: 33.5%;
    top: 23.5%;
    background-color: rgb(156 163 175 / var(--tw-text-opacity, 1));
  }
  50%{
    left: 33.5%;
    top: 42%;
    background-color: rgb(75 85 99 / var(--tw-text-opacity, 1));
  }
  75%{
    left: 6%;
    top: 42%;
    background-color: rgb(31 41 55 / var(--tw-text-opacity, 1));
  }
  100%{
    left: 6%;
    top: 23.5%;
    background-color: rgb(229 231 235 / var(--tw-text-opacity, 1));
  }
  
    
}

@keyframes slideLeft{
    0%,100%{
        left: 33.5%;
        top: 42%;
        background-color: rgb(229 231 235 / var(--tw-text-opacity, 1));

    }
    25%{
        left: 6%;
        top: 42%;
        background-color: rgb(156 163 175 / var(--tw-text-opacity, 1));

    }
    50%{
        left: 6%;
        top: 23.5%;
        background-color: rgb(75 85 99 / var(--tw-text-opacity, 1));

    }
    75%{
        left: 33.5%;
        top: 23.5%;
        background-color: rgb(31 41 55 / var(--tw-text-opacity, 1));
    }
}

/* Who we are */
.imgContainer{
  column-count: 3;
  column-width: 10px;
  gap: 1px;
}